@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    padding: 0;
    margin: 0;

}

body {
    background-color: black;
}

main {
    background-image: url("assets/back2.jpg");
    position: relative;
    background-position: center center;
    background-size: max(2000px, 100vw);
    height: 92vh;
    background-repeat: no-repeat;
}



main .box {
    width: 100%;
    height: 100%;
    opacity: 75%;
    background-color: black;
    position: absolute;
    top: 0;
}

h1 {
    font-size: 20px;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    height: 10%;
    /* background-color: yellow; */
    margin: auto;
    margin-bottom: 0;
    justify-content: space-between;

}


nav img {
    position: relative;
    z-index: 10;
    width: 170px;
    margin: 0px;
}


nav button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    margin: 4px;
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: 16px;
    padding: 1px 1px;
    border: 0.5px solid red;

}

.button-text{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

/* Button */
.dropbtn {
    background-color: rgba(0, 0, 0, 0.032);
    color: white;
    padding: 1px 1px;
    border: 0.5px solid white;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Optional: Change link color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.hero {
    height: calc(100% - 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    /* padding: 0 20px; */
    text-align: center;


}

.hero h1 {
    font-size: 55px;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}


.hero p:nth-of-type(1) {

    position: relative;
    top: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: whitesmoke;
}

.hero p:nth-of-type(2) {
    color: yellow;
}



.form {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;

}

.email-input {
    width: 450px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.498);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.45);
    font-family: "Poppins", sans-serif;
}


.get-started {
    width: 40%;
    height: 60px;
    border-radius: 4px;
    padding-left: 2px;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    background-color: rgb(229, 9, 20);
    border: 0.1px solid red;
    color: white;
}

.seperate {
    width: 100%;
    height: 20px;
    background-color: gray;
}

.trending-now {
    color: white;
    /* transform: translateX(10%)  translateY(300%); */
    margin-left: 10%;
    margin-top: 4%;
    font-size: 30px;
}

.card{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 50px;
    max-width: 80vw;
    /* margin: auto; */
}

.card img {
    width:  550px;
    height: 250px;
    border-radius: 8px;
}